* {
    box-sizing: border-box;  
    margin:0;
    padding:20;
}


h1 {
  font-size:300%;
  text-align:center;
  padding:20px 0px 40px 0px;
  margin:0;
  font-family: cursive;
}


body{margin:8px;}


#Beef {
font-family: cursive;
background-color:yellow;
}

#Chicken {
font-family: cursive;
background-color:green;
}

#Fish {
font-family: cursive;
background-color:orange;
}

.floating-box {
    position:relative;
    float: left;
    width: 32%;
    margin:0px 5px 0px 5px;
    border: 1px solid black;
    padding: 25px 4px 4px 4px;
    background-color:gray;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    padding:0px 10px 0px 10px ;

}

@media (min-width: 992px) {
.floating-box {
    float: left;
    width: 32%;
    margin:0px 5px 0px 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
#box1 {
    float: left;
    width: 48%;
    margin:0px 5px 10px 5px;
}
#box2 {
    float: left;
    width: 48%;
    margin:0px 5px 10px 5px;
}
#box3 {
    clear: both;
    width: 97%;
    margin:0px 5px 0px 5px;
}
}

@media (max-width: 767px) {


.floating-box {
    clear: both;
    width: 100%;
    margin:auto;
    margin-top: 10px;
}


